pandas
numpy
torch

# spacy and en_core_web_sm model
spacy==3.6.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl

# !!important: scispacy only works with python 3.8 or below with nmslib
# check: https://github.com/allenai/scispacy/issues/291
# scispacy and en_ner_bc5cdr_md model
scispacy==0.5.3
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_ner_bc5cdr_md-0.5.3.tar.gz

# transformers and bio-medical model (BioBert)
transformers
